{
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "extends": ["next/core-web-vitals", "prettier"]
}